body{
    height: 100%;
    background-image: url(../img/desk/d-background.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    line-height: 1.15;
}
#container{
    text-align: center;
    color: white;
    font-family: Muli; 
    font-size: 18px;
}
#logo{
    margin-top:4%;
}
#formularioCp{
    margin-top:8%;
}
#fin{
    margin-top:6%
}
#btn{
    margin-top: 1%
}
::placeholder{
    color: white;
    font-family: Muli; 
    font-size: 14px;
}
#specificSizeInputName{
    background-color:transparent;
    border-radius: 3px;
    border: 1px solid white;
    color: white;
    font-family: Muli; 
    font-size: 14px;
    width:35%;
    height: 100%;
    margin:5px!important;
}
.btn-primary{
    background-color:#00bde0;
    text-align: left;
    width:35%;
    height: 75%;
    margin:5px!important;
}
#lupa{
    margin-left: 78%;
}

